.menuButtonInactive {
  text-align: center;
  font-size: 30px;
  padding: 1rem 1rem 1rem 1rem;
  margin: 1rem 0 1rem 2rem;
  border-radius: 0.5rem;
  background-color: grey;
}

.menuButtonActive {
  text-align: center;
  font-size: 30px;
  padding: 1rem 1rem 1rem 1rem;
  margin: 1rem 0 1rem 2rem;
  border-radius: 0.5rem;
  background-color: green;
}