.fivestar {
  background-image: url("/images/FiveStarBackground.png");
}

.fourstar {
  background-image: url("/images/FourStarBackground.png");
}

.threestar {
  background-image: url("/images/ThreeStarBackground.png");
}

.imageCard {
  text-align: center;
  padding: 1rem 1rem 6rem 1rem;
  margin: 1rem 0 1rem 2rem;
  border-radius: 0.5rem;
  display: inline-block;
  max-height: 5.8rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center 80%;
}

.overlay {
  background-color: gold;
}